NUXT_SESSION_PASSWORD=
NUXT_OAUTH_AUTH0_CLIENT_ID=
NUXT_OAUTH_AUTH0_CLIENT_SECRET=
NUXT_OAUTH_AUTH0_DOMAIN=

AUTH0_API_AUDIENCE=
AUTH0_ISSUER_BASE_URL=
AUTH0_MANAGEMENT_TOKEN= 
NUXT_AUTH0_M2M_CLIENT_ID=
NUXT_AUTH0_M2M_CLIENT_SECRET=

FIREBASE_PRIVATE_KEY=
GOOGLE_GENAI_API_KEY=